.col {
  margin-bottom: 25px;
}

.card {
  max-height: fit-content;
}


.title {
  text-align: center;
  margin-bottom: 25px;
  font-size: 50px;
}

.intro {
  text-align: center;
  display: block;
  margin-top: 10rem;
  font-size: 30px;
}

.intro-2 {
  text-align: center;
  display: block;
  font-size: 30px;
  margin-bottom: 10rem;
}

#formBasicIngredient {
  width: 30%;
  display: block;
  border-radius: 50px;
  margin: auto;
}


.form-label {
  width: max-content;
  margin: auto;
  display: block;
  padding-top: 8vw;
  font-size: 50px;
} 

.search-button {
  width: max-content;
  margin: auto;
  margin-top: 1vw;
}


.mb-3 {
  background-image: url(./images/md-measure.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 30rem;
  margin: 0px;
}



@media only screen and (min-width:1650px) {
  .mb-3 {
    background-image: url(./images/measure.jpeg);
  }
}

@media only screen and (min-width:900px) {
  .mb-3 {
    background-image: url(./images/exsm-measure.jpeg);
  }
}

@media only screen and (min-width:1200px) {
  .mb-3 {
    background-image: url(./images/small-measure.jpeg);
  }
}
